{#
/**
 * @file
 * Override of the default maintenance page to display a single Drupal page while offline..
 *
 * All the available variables are mirrored in html.tpl.php and page.tpl.php.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess()
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ language.langcode }}" lang="{{ language.langcode }}" dir="{{ language.dir }}">
<head>
  <title>{{ head_title }}</title>
  {{ head }}
  {{ styles }}
  {{ scripts }}
</head>
<body class="{{ attributes.class }}">

<!-- Layout -->
  <div id="header-region" class="clearfix">{{ header }}</div>

    <div id="wrapper">
    <div id="container" class="clearfix">

      <div id="header">
        <div id="logo-floater">
      {% if site_name or site_slogan %}
        <div id="name-and-slogan">
          {% if site_name %}
            <div id="site-name">
              <strong>
                <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><span>{{ site_name }}</span></a>
              </strong>
            </div>
          {% endif %}
          {% if site_slogan %}
            <div id="site-slogan">
              {{ site_slogan }}
            </div>
          {% endif %}
        </div> <!-- /#name-and-slogan -->
      {% endif %}
        </div>

      </div> <!-- /header -->

      <div id="center"><div id="squeeze"><div class="right-corner"><div class="left-corner">
              {% if title %}
                <h2>{{ title }}</h2>
              {% endif %}
          {{ messages }}
          {{ help }}
          <div class="clearfix">
            {{ content }}
          </div>
          <div id="footer">{{ footer }}</div>
      </div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->

    </div> <!-- /container -->
  </div>
<!-- /layout -->

  </body>
</html>
